<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <!-- Include Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="/css/styles.css"> -->
  <style>
    .container {
      max-width: 400px;
    }
    h1 {
      text-align: center;
    }
    form {
      padding: 20px;
      border: 1px solid #ddd;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
  </style>
</head>
<body>
  <div class="container mt-5">
    <h1 class="mb-4">Change Password</h1>
    <h3 class="mb-4">This is the first time you login the system, so you need to change your password</h3>
    <form id="setPasswordFrom" method="POST" action="/set_password">
      <div class="form-group">
        <label for="username">Current password:</label>
        <input type="password" class="form-control" id="current_password" name="currentPassword" placeholder="Your current password..." required>
      </div>
      <div class="form-group">
        <label for="password">New password:</label>
        <input type="password" class="form-control" id="new_password" name="newPassword" placeholder="Your new password..." required>
      </div>
      <% if(error) { %>
        <div class="alert alert-danger" role="alert">
          Wrong password !!
        </div>
      <% } %>
      <button type="submit" class="btn btn-primary btn-block">Confirm</button>
    </form>
  </div>
  <!-- Include Bootstrap JS and Popper.js -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <!-- Include your custom script (e.g., main.js) -->
  <!-- <script src="/js/main.js"></script> -->
</body>
</html>
